</div>
    <div class="footer">
	Copyright by Jay He ©2015 All Rights Reserved
    </div>
    </body>
    <!--<script src="http://code.jquery.com/jquery-latest.js"></script>-->
    <script type="text/javascript" src="/javascripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
</html>